:root {
    font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    --primary-light: #6750a4;
    --primary-dark: #d0bcff;

    --primary-container-light: #eaddff;
    --primary-container-dark: #4f378b;

    --on-primary-light: #ffffff;
    --on-primary-dark: #371e73;

    --on-primary-container-light: #21005e;
    --on-primary-container-dark: #eaddff;

    --inverse-primary-light: #d0bcff;
    --inverse-primary-dark: #6750a4;

    --secondary-light: #625b71;
    --secondary-dark: #ccc2dc;

    --secondary-container-light: #e8def8;
    --secondary-container-dark: #4a4458;

    --on-secondary-light: #ffffff;
    --on-secondary-dark: #332d41;

    --on-secondary-container-light: #1e192b;
    --on-secondary-container-dark: #e8def8;

    --tertiary-light: #7d5260;
    --tertiary-dark: #efb8c8;

    --tertiary-container-light: #ffd8e4;
    --tertiary-container-dark: #633b48;

    --on-tertiary-light: #ffffff;
    --on-tertiary-dark: #492532;

    --on-tertiary-container-light: #370b1e;
    --on-tertiary-container-dark: #ffd8e4;

    --surface-light: #fef7ff;
    --surface-dark: #141218;

    --surface-dim-light: #ded8e1;
    --surface-dim-dark: #141218;

    --surface-bright-light: #fef7ff;
    --surface-bright-dark: #3b383e;

    --surface-container-lowest-light: #ffffff;
    --surface-container-lowest-dark: #0f0d13;

    --surface-container-low-light: #f7f2fa;
    --surface-container-low-dark: #1d1b20;

    --surface-container-light: #f3edf7;
    --surface-container-dark: #211f26;

    --surface-container-high-light: #ece6f0;
    --surface-container-high-dark: #2b2930;

    --surface-container-highest-light: #e6e0e9;
    --surface-container-highest-dark: #36343b;

    --surface-varient-light: #e7e0ec;
    --surface-varient-dark: #49454f;

    --on-surface-light: #1c1b1f;
    --on-surface-dark: #e6e1e5;

    --on-surface-varient-light: #49454e;
    --on-surface-varient-dark: #cac4d0;

    --inverse-surface-light: #313033;
    --inverse-surface-dark: #e6e1e5;

    --inverse-on-surface-light: #f4eff4;
    --inverse-on-surface-dark: #313033;

    --background-light: #fef7ff;
    --background-dark: #141218;

    --on-background-light: #1c1b1f;
    --on-background-dark: #e6e1e5;

    --error-light: #b3261e;
    --error-dark: #f2b8b5;

    --error-container-light: #f9dedc;
    --error-container-dark: #8c1d18;

    --on-error-light: #ffffff;
    --on-error-dark: #601410;

    --on-error-container-light: #410e0b;
    --on-error-container-dark: #f9dedc;

    --outline-light: #79747e;
    --outline-dark: #938f99;

    --outline-varient-light: #c4c7c5;
    --outline-varient-dark: #444746;

    --surface-tint-light: #6750a4;
    --surface-tint-dark: #d0bcff;

    --shadow: #000000;

    --scrim: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--primary-dark);
        --primary-container: var(--primary-container-dark);
        --on-primary: var(--on-primary-dark);
        --on-primary-container: var(--on-primary-container-dark);
        --inverse-primary: var(--inverse-primary-dark);
        --secondary: var(--secondary-dark);
        --secondary-container: var(--secondary-container-dark);
        --on-secondary: var(--on-secondary-dark);
        --on-secondary-container: var(--on-secondary-container-dark);
        --tertiary: var(--tertiary-dark);
        --tertiary-container: var(--tertiary-container-dark);
        --on-tertiary: var(--on-tertiary-dark);
        --on-tertiary-container: var(--on-tertiary-container-dark);
        --surface: var(--surface-dark);
        --surface-dim: var(--surface-dim-dark);
        --surface-bright: var(--surface-bright-dark);
        --surface-container-lowest: var(--surface-container-lowest-dark);
        --surface-container-low: var(--surface-container-low-dark);
        --surface-container: var(--surface-container-dark);
        --surface-container-high: var(--surface-container-high-dark);
        --surface-container-highest: var(--surface-container-highest-dark);
        --surface-varient: var(--surface-varient-dark);
        --on-surface: var(--on-surface-dark);
        --on-surface-varient: var(--on-surface-varient-dark);
        --inverse-surface: var(--inverse-surface-dark);
        --inverse-on-surface: var(--inverse-on-surface-dark);
        --background: var(--background-dark);
        --on-background: var(--on-background-dark);
        --error: var(--error-dark);
        --error-container: var(--error-container-dark);
        --on-error: var(--on-error-dark);
        --on-error-container: var(--on-error-container-dark);
        --outline: var(--outline-dark);
        --outline-varient: var(--outline-varient-dark);
        --shadow: var(--shadow);
        --scrim: var(--scrim);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary: var(--primary-light);
        --primary-container: var(--primary-container-light);
        --on-primary: var(--on-primary-light);
        --on-primary-container: var(--on-primary-container-light);
        --inverse-primary: var(--inverse-primary-light);
        --secondary: var(--secondary-light);
        --secondary-container: var(--secondary-container-light);
        --on-secondary: var(--on-secondary-light);
        --on-secondary-container: var(--on-secondary-container-light);
        --tertiary: var(--tertiary-light);
        --tertiary-container: var(--tertiary-container-light);
        --on-tertiary: var(--on-tertiary-light);
        --on-tertiary-container: var(--on-tertiary-container-light);
        --surface: var(--surface-light);
        --surface-dim: var(--surface-dim-light);
        --surface-bright: var(--surface-bright-light);
        --surface-container-lowest: var(--surface-container-lowest-light);
        --surface-container-low: var(--surface-container-low-light);
        --surface-container: var(--surface-container-light);
        --surface-container-high: var(--surface-container-high-light);
        --surface-container-highest: var(--surface-container-highest-light);
        --surface-varient: var(--surface-varient-light);
        --on-surface: var(--on-surface-light);
        --on-surface-varient: var(--on-surface-varient-light);
        --inverse-surface: var(--inverse-surface-light);
        --inverse-on-surface: var(--inverse-on-surface-light);
        --background: var(--background-light);
        --on-background: var(--on-background-light);
        --error: var(--error-light);
        --error-container: var(--error-container-light);
        --on-error: var(--on-error-light);
        --on-error-container: var(--on-error-container-light);
        --outline: var(--outline-light);
        --outline-varient: var(--outline-varient-light);
        --shadow: var(--shadow);
        --scrim: var(--scrim);
    }
}
