/* .button-container {
    background-color: var(--primary);
} */

.button-filled {
    color: var(--on-primary);
    background-color: var(--primary);
    border: 0;
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.button-filled:hover {
    /* background-color: var(--surface-container-low); */
    opacity: 0.9;
    /* elevete the button */
    /* box-shadow: 0 2px 3px 0 var(--shadow); */
}

.button-filled:disabled {
    /* background-color: var(--primary);  TODO)): disabled color */
    cursor: not-allowed;
}
